{% extends 'base.html' %}
{% block title %}Test{% endblock %}

{% block content %}

<style>
    #font1{
        color:#F5F5F5;
    }
    #body-test{
        background-color:#211b34;
    }
    #menu{
        width:10%;
        float:left;
        color:#0b8699;
        text-align:center;
    }
    #content{
        background-color:#2b2148;
        width:88%;
        height:700px;
        float:right;
        border:1px solid #000;
        margin:10px;
    }
    #set1{
        margin:0px 0px 20px 0px;
    }
    #wav{
        margin:20px 20px 0px 100px;
        float:left;
    }
    #report{
        margin:20px 150px 0px 10px;
        width:200px;
        float:right;
    }
    #set2{
        margin:0px 0px 0px 20px;
    }
</style>

<body id="body-test">

    <nav class="menu">
        <ul id="menu" class="list-group">
            <li class="list-group-item" style="color:red">偵測到Sad</li>
            <li class="list-group-item">偵測到Sad</li>
            <li class="list-group-item">偵測到Scream</li>
            <li class="list-group-item">偵測到Sigh</li>
            <li class="list-group-item">偵測到Wail</li>
            <li class="list-group-item">偵測到Happy</li>
            <li class="list-group-item">偵測到Sad</li>
            <li class="list-group-item">偵測到Scream</li>
            <li class="list-group-item">偵測到Sigh</li>
            <li class="list-group-item">偵測到Wail</li>
            <li class="list-group-item">偵測到Happy</li>
            <li class="list-group-item">偵測到Sad</li>
            <li class="list-group-item">偵測到Scream</li>
            <li class="list-group-item">偵測到Sigh</li>
            <li class="list-group-item">偵測到Wail</li>
        </ul>
    </nav>

    <div id="content">

        <div id="set1" class="row">
            <div id="wav">
                <img src='/static/images/wav.png' width='700'>
            </div>

            <div id='report' class="panel panel-default">
                <div class="panel-heading" style="text-align:center">偵測報告</div>
                <div class="panel-body">
                    IP : 120.192.98.113<br>
                    Name : 張小乖<br>
                    情緒 : 難過<br>
                    <img src='/static/images/cry.jpg' width='150' align='center'>
                </div>
            </div>
        </div>

        <div id="set2" class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">機率圖</div>
                    <div class="panel-body"><img src='/static/images/p1.jpg' width='300'></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">統計圖</div>
                    <div class="panel-body" align="center"><img src='/static/images/p2.png' width='350'></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">趨勢圖</div>
                    <div class="panel-body" align="center"><img src='/static/images/p3.png' width='300'></div>
                </div>
            </div>
        </div>

    </div>


</body>

{% endblock %}